html {
  font-family: "Inter", sans-serif;
  background-color: #fff;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #373737;
  overflow: auto;
  background-color: #fff;
}
a,
a:hover,
a:focus,
i {
  text-decoration: none;
  outline: none;
}
a {
  color: #000;
}

img {
  max-width: 100%;
  border: none;
  outline: none;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: #fff;
  padding: 50px 0;
}

.headerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  color: #000;
  display: flex;
  align-items: center;
}
.logo span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-right: 12px;
}
.logo:hover {
  color: #000;
}

.socialLinks {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.socialLinks li {
  margin-left: 12px;
}
.socialLinks li:first-child {
  margin-left: 0;
}
.socialLinks li a {
  border-radius: 100%;
  color: #fff;
  width: 24px;
  height: 24px;
  background-color: #f26464;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.socialLinks li a:hover {
  background-color: #000;
  color: #fff;
}
.hero {
  padding-top: 150px;
}
.hero section {
  padding-left: 70px;
  padding-right: 100px;
}
.hero section h1 span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 30px;
}
.hero section h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #000;
}
.statsList {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 60px;
}
.statsList li {
  margin-right: 60px;
}
.statsList li:last-child {
  margin-right: 0;
}
.statsList strong {
  display: block;
  color: #f26464;
  font-size: 36px;
  font-weight: 800;
}
.statsList span {
  font-size: 16px;
  letter-spacing: 1px;
}
.about-section {
  padding-top: 60px;
  padding-bottom: 120px;
}
.sectionTitle {
  display: inline-block;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  border-bottom: 3px solid #f26464;
  padding-bottom: 7px;
  margin-bottom: 23px;
}
.about-section p {
  color: #373737;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 60px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 13px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #f26464;
  padding: 17px 30px;
  border: 2px solid #f26464;
  border-radius: 60px;
}
.button:hover {
  background-color: #f26464;
  color: #fff;
}
.skillsSection {
  padding-bottom: 105px;
}
.skillsList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 11px;
}
.skillsList li {
  display: inline-block;
  color: #373737;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 27px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 500;
}

.experienceSection {
  padding-bottom: 120px;
}
.experienceList section {
  padding-right: 70px;
}
.experienceList {
  padding-top: 15px;
}
.company {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
.experienceList span {
  display: block;
}
.year {
  color: #373737;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}
.role {
  color: #373737;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 30px;
}
.experienceList p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.experienceList ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}
.experienceList ul li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding-left: 28px;
  position: relative;
  margin-bottom: 20px;
}
.experienceList ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  background-color: #373737;
}
